body {
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;

}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@font-face {
    font-family: lm;
    src: url('/assets/fonts/LEMONMILK-Medium.otf');
  }

@font-face{
    font-family: rb;
    src: url('/assets/fonts/Roboto-Regular.ttf');
}

.overall{
    background-image: linear-gradient(to bottom right, #092147, #072B5F);
    margin: auto;
    width: 45%;
    
}

.overall .header{
    width: 100%;
    padding: auto;
}

.overall .header .container{
    width: 100%;
}



.header .container .row .col-md-12{
    text-align: center;
}

.header .container .row:first-child .col-md-12{
    padding-bottom: 10%;
}

.header .container .row .col-md-12 h1{
    font-family: lm;
    color: white;
    font-size: 37px;
    font-weight: 100;
}

.header .container .row .col-md-12 p{
    font-family: rb;
    color: white;
    font-size: 15px;
    font-weight: 100;
}

.header .container .row .col-md-12 .header_image{
    width: 85%;
    margin: auto;
    border: 4px solid #fad658;
    border-radius: 50%;
}


section{
    padding: 100px;
    border-bottom: 1px solid white;

}

section .container{
    width: 100%;
}

.uiux{
    margin-top: 5%;
    margin-bottom: 5%;

    padding-left: 5%;
    padding-right: 5%;

    padding-top: 5%;
    padding-bottom: 8%;
}

.uiux .container .row .col-md-6 img{
    width: 100%;
    margin: auto;
}

.uiux .container .row .col-md-6 h2{
    font-family: rb;
    color: white;
    font-size: 25px;
    font-weight: 300;
}

.uiux .container .row .col-md-6 p{
    font-family: rb;
    color: white;
    font-size: 15px;
    font-weight: 100;
}


.ai{
    margin-top: 5%;
    margin-bottom: 5%;

    padding-left: 5%;
    padding-right: 5%;

    padding-top: 5%;
    padding-bottom: 8%;
}

.ai .container .row .col-md-6 img{
    width: 100%;
    margin: auto;
}

.ai .container .row .col-md-6 h2{
    font-family: rb;
    color: white;
    font-size: 25px;
    font-weight: 300;
}

.ai .container .row .col-md-6 p{
    font-family: rb;
    color: white;
    font-size: 15px;
    font-weight: 100;
}


.psych{
    margin-top: 5%;
    margin-bottom: 5%;

    padding-left: 5%;
    padding-right: 5%;

    padding-top: 5%;
    padding-bottom: 8%;
}

.psych .container .row .col-md-6 img{
    width: 100%;
    margin: auto;
}

.psych .container .row .col-md-6 h2{
    font-family: rb;
    color: white;
    font-size: 25px;
    font-weight: 300;
}

.psych .container .row .col-md-6 p{
    font-family: rb;
    color: white;
    font-size: 15px;
    font-weight: 100;
}


.voice{
    margin-top: 5%;
    margin-bottom: 5%;

    padding-left: 5%;
    padding-right: 5%;

    padding-top: 5%;
    padding-bottom: 8%;
}

.voice .container .row .col-md-6 img{
    width: 100%;
    margin: auto;
}

.voice .container .row .col-md-6 h2{
    font-family: rb;
    color: white;
    font-size: 25px;
    font-weight: 300;
}

.voice .container .row .col-md-6 p{
    font-family: rb;
    color: white;
    font-size: 15px;
    font-weight: 100;
}


.webdev{
    margin-top: 5%;
    margin-bottom: 5%;

    padding-left: 5%;
    padding-right: 5%;

    padding-top: 5%;
    padding-bottom: 8%;
}

.webdev .container .row .col-md-6 img{
    width: 100%;
    margin: auto;
}

.webdev .container .row .col-md-6 h2{
    font-family: rb;
    color: white;
    font-size: 25px;
    font-weight: 300;
}

.webdev .container .row .col-md-6 p{
    font-family: rb;
    color: white;
    font-size: 15px;
    font-weight: 100;
}


.writing{
    margin-top: 5%;
    margin-bottom: 5%;

    padding-left: 5%;
    padding-right: 5%;

    padding-top: 5%;
    padding-bottom: 8%;
}

.writing .container .row .col-md-6 img{
    width: 100%;
    margin: auto;
}

.writing .container .row .col-md-6 h2{
    font-family: rb;
    color: white;
    font-size: 25px;
    font-weight: 300;
}

.writing .container .row .col-md-6 p{
    font-family: rb;
    color: white;
    font-size: 15px;
    font-weight: 100;
}

section .container .row .col-md-6 .products-btn{

}

section .container .row .col-md-6 .products-btn .btn{
    font-family: rb;
    border-radius: 0px;
    font-size: 13px;
    font-weight: 600;
    color: black;
    padding: 7px 16px;
    position: relative;
    background-color: #ffce1b;
    -webkit-box-shadow: 0px 28px 22px #070877 !important;
    box-shadow: 0px 38px 53px #070877 !important
    
}